<%- include('../partials/header', { pageTitle, currentType }) %>

<div class="layui-container">
  <div class="layui-row layui-col-space20 m-top">
    <div class="layui-col-xs12 layui-col-sm4">
      <div class="layui-panel xi-card">
        <div style="text-align: center;">
          <img src="<%= siteMeta.logoUrl %>" style="width: 10rem; height: 10rem; border-radius: 20px;" alt="<%= siteMeta.appName %>图标" />
          <p class="appname" style="margin-top: 10px; font-size: 22px; font-weight: 700;"><%= siteMeta.appName %></p>
          <p style="color: #666;"><%= siteMeta.appSubTitle %></p>
        </div>
        <hr />
        <p class="info" style="text-align: center; margin-bottom: 10px;">
          <span class="layui-badge-rim">平台：<%= siteMeta.platformLabel %></span>
          <span class="layui-badge-rim">类型：<%= siteMeta.sourceTypeLabel %></span>
        </p>
        <div class="layui-btn-container">
          <% if (siteMode === 'android') { %>
            <% siteMeta.androidDownloads.forEach(function(item){ %>
              <a class="layui-btn layui-btn-fluid xi-red-btn" href="<%= item.url %>" target="_blank"><%= item.label %></a>
            <% }) %>
            <a class="layui-btn layui-btn-fluid layui-btn-primary" href="/yuedu/shuyuan/index.html">进入书源仓库</a>
          <% } else { %>
            <a class="layui-btn layui-btn-fluid xi-red-btn" href="/yuedu/shuyuan/index.html">进入书源仓库</a>
            <a class="layui-btn layui-btn-fluid layui-btn-primary" href="/yuedu/shuyuans/index.html">进入书源合集</a>
            <a class="layui-btn layui-btn-fluid layui-btn-primary" href="/yuedu/install/index.html">App 安装教程</a>
            <a class="layui-btn layui-btn-fluid layui-btn-primary" href="/yuedu/activation/index.html">激活码购买地址</a>
          <% } %>
        </div>
      </div>
    </div>

    <div class="layui-col-xs12 layui-col-sm8">
      <div class="layui-panel xi-card">
        <blockquote class="layui-elem-quote" style="margin-left: -10px; margin-right: -10px;">
          <h3><%= siteMode === 'android' ? '阅读' : '站点说明' %></h3>
        </blockquote>
        <div class="layui-text">
          <% siteMeta.homeNoticeLines.forEach(function(line){ %>
            <p><%= line %></p>
          <% }) %>
        </div>

        <blockquote class="layui-elem-quote" style="margin-left: -10px; margin-right: -10px; margin-top: 16px;">
          <h3>相关链接</h3>
        </blockquote>
        <div class="layui-row layui-col-space10">
          <% siteMeta.homeRelatedLinks.forEach(function(link){ %>
            <div class="layui-col-xs12 layui-col-sm6">
              <a
                class="layui-btn layui-btn-fluid <%= link.danger ? 'xi-red-btn' : 'layui-btn-primary' %>"
                href="<%= link.url %>"
                <%= link.external ? 'target="_blank"' : '' %>>
                <%= link.label %>
              </a>
            </div>
          <% }) %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') %>
